.container {
  width: 710px; }

body {
  background: #595959; }

header {
  padding-top: 20px; }
  header img {
    padding: 1em;
    background: #fff; }

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff; }

section h1 {
  font-size: 200%; }

/* Links */
a {
  color: #09c;
  text-decoration: none; }
  a:hover {
    color: #069;
    text-decoration: underline; }
  a:visited {
    color: #B2B2B2; }

/* Navigation */
ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none; }

ul li {
  display: block;
  position: relative;
  float: left; }

li ul {
  display: none; }

ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 15px 5px 15px;
  background: black;
  margin-left: 1px;
  white-space: nowrap; }

ul li a:hover {
  background: #595959; }

li:hover ul {
  display: block;
  position: absolute; }

li:hover li {
  float: none;
  font-size: 11px; }

li:hover a {
  background: #595959; }

li:hover li a:hover {
  background: black; }

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px; }

/* Round corners */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
